<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="./img/Icon Example.jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <title>Ecommerce-Project</title>
</head>
<body>
<div class="container-fluid">
        <div class="row">
            <div class="col mb-5">
                <header id="navbar">
                  <!-- Nav Bar goes here code is in views/js/script.js -->
                </header>
            </div> 
        </div> <!--Row for navbar ends-->
        <div class="row">
            <div class="col mt-5">
                <!-- Carousel/slider -->
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./img/Bag Image Example.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./img/Bag Image Example.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="./img/Bag Image Example.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
              </div>     
            </div>
        </div> <!--Row for slider ends-->
        <h2 class="text-center mt-5 text-light">PRODUCTS</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-5">
            <div class="col">
              <div class="card h-100">
                <img src="./img/Product Example_1.jpg" class="card-img-top" alt="..."/>
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                  </p>
                </div>
              </div> 
            </div> <!--Card 1 ends-->
            <div class="col">
              <div class="card h-100">
                <img src="./img/Product Example_2.jpg" class="card-img-top" alt="..."/>
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div> <!--Card 2 ends-->
            <div class="col">
              <div class="card h-100">
                <img src="./img/Product Example_3.jpg" class="card-img-top" alt="..."/>
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div> <!--Card 3 ends-->
            <div class="col">
              <div class="card h-100">
                <img src="./img/Product Example_4.jpg" class="card-img-top" alt="..."/>
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                  </p>
                </div>
              </div>
            </div> <!--Card 4 ends-->
            <div class="col">
              <div class="card h-100">
                <img src="./img/Product Example_5.jpg" class="card-img-top" alt="..."/>
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                  </p>
                </div>
              </div>
            </div> <!--Card 5 ends-->
            <div class="col">
              <div class="card h-100">
                <img src="./img/Product Example_6.jpg" class="card-img-top" alt="..."/>
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                  </p>
                </div>
              </div>
            </div> <!--Card 6 ends-->
          </div> <!--Row for card ends-->
        <div class="row">
            <div class="col">
                <footer id="footer">
                    <!--Footer goes here  -->
                </footer>
            </div>
        </div> <!--Row for footer ends-->
</div>  
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/shared.js"></script>
<script src="https://kit.fontawesome.com/33d6570d70.js" crossorigin="anonymous"></script>
</body>
</html>